* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;

}
.wrapper{
    display: table;
    width: 96%;
    height: 96%;
   }
.left{
    width: 300px;
    height: auto;
    display: table-cell;

}
.leftT{
    width: 250px;
    height: 100px;
    margin: 25px;
    background-color: blue;

}
.leftB{
    width: 250px;
    height: 500px;
    margin: 25px;
    background-color: blue;
}

.mid{
    margin-left: 10px;
    display: table-cell;
    width: 100%;
    vertical-align: top;
    height: 100%;


}
.midT {
    height: 100px;
    margin: 25px;
    background-color: blue;

 }
.midM {
    width: 100%;
    height: 400px;
    display: table;
   margin: 15px;

}

.midML{
    width: 200px;
    height: 100%;
    vertical-align: top;
    display: table-cell;
}
.grayBlock {
    width: 180px;
    height: 125px;
    margin: 0px 10px 10px 10px;
    background-color: gray;
}
.midMRWrapper{
    height: 100%;
    width: auto;
    vertical-align: top;
    padding:0px 40px 10px 10px;
}
.midMR {
    height: 100%;
    width: auto;
    background-color: lightgray;
}

.midBWrapper {

display: table;
    height:400px;

    width: 100%;

    padding: 25px;

}
.midB{
    background-color: lightgray;
    height: 100%;
    width: 100%;
    display: table-cell;

}


.right {
    width: 300px;
    height: 100%;
    display: table-cell;
    vertical-align: top;

}
.rightBWrapper{
   display: table;
    height: 100%;}
.rightBT{
float: bottom;
    height: 500px;
    width: 300px;
}
.darkGrey {

    height: 80px;
    width: 100px;
    background-color: darkgray;
    float: left;
    margin: 20px 25px;
}
.rightBBWrapper{
    padding: 25px;
    display: table;
    width: 100%;
    height: 100%;

}
.rightBB{
    background-color: lightgray;
    height: 100%;
    width: auto;
    display: table-cell;
}

@media(max-width: 1024px) and (min-width: 800px){
   .wrapper{
        max-width: 1024px;
        position: relative;
        display: block;
    }
.right{
display: block;
    float: left;
    position: sticky;

}
.left{

}
.mid{
    position: absolute;
    left:250px;
    top: 0px;
    width: 70%;

}
.midM {
    transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    display: block;
    height: auto;

}


    .midML{
        transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        margin: 10px 0px;
display:inline-block;
        width: auto;
    }
.midMR{
    height: 100%;
    width: 100%;


}

.midBWrapper{
    display: block;

}
.midB{
    position: absolute;
    display: block;
}
.grayBlock {
    display: inline-block;
    float: left;
    margin-right: fill ;
}
.midMRWrapper{
height: 350px;
    width: 100%;
    padding-bottom: 0px;



}
}

@media(max-width: 800px) {
    .wrapper{

        border-spacing: 0;
        display: table;
        max-width: 800px;
    }
    .mid {

        display: table-header-group;
    }
    .left {

        display: table-row-group;
    }
    .right {
        display: table-footer-group;
    }

    .midM {
        transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        display: block;
        height: auto;

    }


    .midML{
        transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        margin: 10px 0px;
        display:inline-block;
        width: auto;
    }
    .midMR{
        height: 100%;
        width: 100%;


    }
    .midBWrapper{


    }
    .grayBlock {
        display: inline-block;
        float: left;
        margin-right: fill ;
    }
    .midMRWrapper{
        height: 350px;
        width: 100%;
        padding-bottom: 0px;



    }
}

@media(max-width: 460px) {
.midT{
    display: none;
}
}
